.DS_Store
log/*
tmp/*
db/*.sqlite3
coverage
public/cache
public/system
public/stylesheets
doc/specs.html
doc/features.html
tags
*.sw?
*~
rerun.txt
.bundle
db/schema.rb
specifications
cache
gems

public/javascripts/tiny_mce
