@import "blueprint/reset";
@import "partials/base";
@import "blueprint";
@import "blueprint/scaffolding";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@include blueprint-scaffolding("body");

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  background: #424242;
  font-family: "Helvetica", "Verdana", "DejaVu Sans", "Arial", "sans-serif";
  color: #424242;

  #container {
    @include container;
    @include border-radius(20px);
    @include box-shadow(#000, 2px, 2px);
    padding: 20px;
    margin: 20px auto 20px;
    background: #E9E9E9; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #content {
    $content-columns: ceil(3 * $blueprint-grid-columns / 4);
    @include column($content-columns); }
  #sidebar {
    $sidebar-columns: floor($blueprint-grid-columns / 4);
    @include column($sidebar-columns, true); }}

form {
  @include blueprint-form;}

textarea.mceEditor {
  width: $blueprint-grid-width * 3;
  height: 500px; }

#header {
  .header {
    font: {
      size: 60px !important;
      weight: bold; }
    text-transform: uppercase;
    letter-spacing: -5px;
    word-spacing: -12px;
    color: #424242;
    float: left;
    .color { color: #FF9900; }}
  .slogan {
    float: left;
    position: relative;
    span {
      font: {
        size: 20px !important;
        weight: bold; }
      position: absolute;
      left: 40px;
      top: 40px;
      width: 300px;}}}

* a {
  color: #3299BB !important;
  text-decoration: none !important;
  &:hover { color: #3299BB !important; }
  &:visited { color: #3299BB !important; }}

.pagination {
  text-align: center;
  margin-bottom: 10px;}
